<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineShoppingWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to temporarily store upload files</description>
    <param-name>tempFileStorageLocation</param-name>
    <param-value>D:\Cloud\OneDrive\Masters Program\TA\CSCE 864\tempFiles\</param-value>
  </context-param>
  <context-param>
    <param-name>productFilesLocation</param-name>
    <param-value>D:\Cloud\OneDrive\Masters Program\TA\CSCE 864\WWW\OnlineShoppingWebApp\WebContent\data\products\</param-value>
  </context-param>
</web-app>